<h1 class="title">
    hostel booking
</h1>
<div class="columns">
    <div class="column is-half is-offset-one-quarter">
        <form>
            <div class="card">
                <div class="card-content">
                    <div class="content">
                        <br>
                        <div class="field">
                            <p class="control has-icons-left">
                                <input class="input is-success is-large" ng-model="ctrl.model.email" type="email" placeholder="Email">
                                <span class="icon is-small is-left">
                                    <i class="fa fa-envelope"></i>
                                </span>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control has-icons-left">
                                <input class="input is-success is-large" type="password" ng-model="ctrl.model.password" 
                                    placeholder="Password">
                                <span class="icon is-small is-left">
                                    <i class="fa fa-lock"></i>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <footer class="card-footer">
                    <a class="card-footer-item" ng-click="ctrl.login()">Login</a>
                    <a class="card-footer-item" href="/#!/register">Register </a>
                </footer>
            </div>
        </form>
    </div>
</div>