<h1 class="title">
   <p  style="font-family: 'Kaushan Script', cursive;">hostel booking</p> 
</h1>

<div class="columns">
    <div class="column is-half is-offset-one-quarter">
        <form>

            <p class="control">
                <input class="input is-large" type="text" ng-model="ctrl.model.name" placeholder="Name">
                <span class="tag is-danger">Invalid Name</span>
            </p>

            <p class="control">
                <input class="input is-large" type="text" ng-model="ctrl.model.document" placeholder="Document">
            </p>

            <p class="control">
                <input class="input is-large" type="text" ng-model="ctrl.model.birthDate" placeholder="Birthday">
            </p>

            <p class="control">
                <label class="radio is-large ">
                        <input type="radio" ng-model="ctrl.model.genre" name="question">Male
                    </label>
                <label class="radio is-large">
                        <input type="radio" ng-model="ctrl.model.genre" name="question">Female
                    </label>
            </p>

            <p class="control">
                <input class="input is-large" type="email" ng-model="ctrl.model.user.email" placeholder="E-mail">
                <span class="tag is-danger">E-mail inválido</span>
            </p>

            <p class="control">
                <input class="input is-large" type="password" ng-model="ctrl.model.user.password" placeholder="Senha">
            </p>

            <p>
                <button ng-click="ctrl.register()" class="button is-primary is-inverted is-outlined is-large is-fullwidth">Register</button>
                <br>
                <a href="/#!/login" class="button is-link is-fullwidth">back to login</a>
            </p>
        </form>
    </div>
</div>